html, body {
    height: 100%;
}

body {
    background-color: #f1f1f1;
}

.menu-list-item {
    font-size: 18px;

    .fa {
        margin-right: 10px;
    }

    .fa-folder-o {
        display: none;
    }

    &.active {
        .menu-list-link {
            color: rgb(51, 103, 214);
        }

        .fa-folder {
            display: none;
        }

        .fa-folder-o {
            display: inline-block;
        }
    }

    &:hover {
        .menu-list-link {
            color: rgb(51, 103, 214) !important;
        }
    }
}
