.header {
    background-color: rgb(51, 103, 214);
    color: #fff;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .fa {
        font-size: 22px;
    }

    &-add {
        transition: opacity 0.3s ease;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }
    }
}