<form role="form" name="addBookmark" ng-submit="closeThisDialog(); $ctrl.createBookmark(newBookmark)">
	<div class="field">
		<label class="label" for="name-bookmark">Title Bookmark</label>
		<div class="control">
			<input class="input" type="text" id="name-bookmark" ng-model="$ctrl.newBookmark.title" placeholder="Title Bookmark" required>
		</div>
	</div>

	<div class="field">
		<label class="label" for="url-bookmark">Url Bookmark</label>
		<div class="control">
			<input
				class="input"
				name="url"
				type="text"
				id="url-bookmark"
				autocomplete="off"
				validation-url
				ng-model="$ctrl.newBookmark.url"
				ng-model-options="{ updateOn: 'blur' }"
				placeholder="Url Bookmark"
				required>
			<span class="error" ng-show="addBookmark.url.$error.url">Your url must start from 'http://' or 'https://'</span>
		</div>
	</div>

	<div class="field" ng-if="!$ctrl.currentCategory">
		<label class="label" >Category</label>
		<multiple-autocomplete
			ng-model="$ctrl.selectedList"
			after-select-item="$ctrl.afterSelectItem"
			suggestions-arr="$ctrl.categoriesList"
			required="true">
		</multiple-autocomplete>
	</div>

	<div class="field is-grouped">
		<div class="control">
			<button type="submit" class="button is-link" ng-disabled="addBookmark.$invalid">Add</button>
		</div>
		<div class="control">
			<button type="button" class="button is-text" ng-click="closeThisDialog()">Cancel</button>
		</div>
	</div>
</form>
